# SQL Databases
- easy to use from Python
- many different databases are supported: 
    - sqlite3
    - mysql
    - postgres
    - oracle

In [1]:
# need some names to build a database, 
# so made some random strings
# but they are hard to read...

import random
import string

string.ascii_lowercase

def makeNames(n):
    # chr takes an ascii code and 
    # returns the letter in a string
    n = ''.join([random.choice(string.ascii_lowercase) \
                 for j in range(n)])
    return n.capitalize()
    
[makeNames(4) for j in range(10)]

['Qdxc',
 'Xjmd',
 'Uqmk',
 'Hekk',
 'Snfk',
 'Kqlk',
 'Thsf',
 'Zafr',
 'Fgct',
 'Jxor']

In [2]:
# nltk corpus has 8,000 real names!
# get some short ones

import random
import nltk

def makeNames(wcnt, wlen):
    names = [w for w in nltk.corpus.names.words() \
             if len(w) == wlen]
    # names are in alphabetical order
    # random doesn't have a 'random subset' routine
    # so do a shuffle 
    random.shuffle(names)
    # then just take random names from the front
    return names[:wcnt]

firsts = makeNames(10, 4)
lasts = makeNames(10, 5)

[firsts, lasts]

[['Etty',
  'Emmy',
  'Lina',
  'Merv',
  'Harv',
  'Luke',
  'Dana',
  'Katy',
  'Tull',
  'Vale'],
 ['Toddy',
  'Daryl',
  'Tarra',
  'Hagen',
  'Gregg',
  'Randi',
  'Eadie',
  'Marge',
  'Nanny',
  'Sybil']]

# sqlite3
- sqlite3 stores the entire database 
- world's most deployed sql db
- [driver doc](https://docs.python.org/3.7/library/sqlite3.html)

In [3]:
# make a db connection and get a cursor

import sqlite3 
import tempfile

dbf = tempfile.NamedTemporaryFile().name

con = sqlite3.connect(dbf)
cur = con.cursor()
cur

# Create two tables
- grade(uni, course, grade)
- student(first, last, uni)

In [4]:
cur.execute('create table grade (uni text, course text, grade real)')

In [5]:
cur.execute('create table student (first text, last text, uni text)')

# Build student table

In [6]:
# first, last

fl = [ [firsts[k], lasts[k]] for k in range(10)]
fl

[['Etty', 'Toddy'],
 ['Emmy', 'Daryl'],
 ['Lina', 'Tarra'],
 ['Merv', 'Hagen'],
 ['Harv', 'Gregg'],
 ['Luke', 'Randi'],
 ['Dana', 'Eadie'],
 ['Katy', 'Marge'],
 ['Tull', 'Nanny'],
 ['Vale', 'Sybil']]

In [7]:
# make an uni
# student = [first, last, uni]

students = [ [f, l, (f[0] + l[0] + str(random.randint(1000,9999))).lower()] 
            for f,l in fl]
students

[['Etty', 'Toddy', 'et4107'],
 ['Emmy', 'Daryl', 'ed3153'],
 ['Lina', 'Tarra', 'lt2185'],
 ['Merv', 'Hagen', 'mh1578'],
 ['Harv', 'Gregg', 'hg5241'],
 ['Luke', 'Randi', 'lr1595'],
 ['Dana', 'Eadie', 'de9360'],
 ['Katy', 'Marge', 'km7947'],
 ['Tull', 'Nanny', 'tn1488'],
 ['Vale', 'Sybil', 'vs9040']]

In [8]:
# insert above list into db

# 'execute' inserts one row at a time
# expects one row of data
cur.execute('insert into student values(?, ?, ?)', students[0])

# 'executemany' inserts multiple rows at once
# expects list of rows, executes the statement for each row
cur.executemany('insert into student values(?, ?, ?)', \
                students[1:])

'''
# the above two statements are equivalent to 
for student in students:
    cur.execute('insert into student values(?, ?, ?)', student)

# or 
cur.executemany('insert into student values(?, ?, ?)', students)

executemany is typically more efficient 
'''

None

In [9]:
# the select returns a generator

sg = cur.execute('select first, last, uni from student')
sg

In [10]:
rows = list(sg)
rows

[('Etty', 'Toddy', 'et4107'),
 ('Emmy', 'Daryl', 'ed3153'),
 ('Lina', 'Tarra', 'lt2185'),
 ('Merv', 'Hagen', 'mh1578'),
 ('Harv', 'Gregg', 'hg5241'),
 ('Luke', 'Randi', 'lr1595'),
 ('Dana', 'Eadie', 'de9360'),
 ('Katy', 'Marge', 'km7947'),
 ('Tull', 'Nanny', 'tn1488'),
 ('Vale', 'Sybil', 'vs9040')]

In [11]:
# pull the uni out of the tuple 

unis = [t[0] for t in cur.execute('select uni from student')]
unis

['et4107',
 'ed3153',
 'lt2185',
 'mh1578',
 'hg5241',
 'lr1595',
 'de9360',
 'km7947',
 'tn1488',
 'vs9040']

In [12]:
# classes 

classes = ['COMSW {}'.format(random.randint(1000, 9999)) \
           for j in range(5)]
classes

['COMSW 6337', 'COMSW 7169', 'COMSW 7732', 'COMSW 9466', 'COMSW 2135']

In [13]:
# students take finals

grades = [ [u , random.choice(classes), \
            70 + 30 * random.random() ] \
          for u in unis ]
grades

[['et4107', 'COMSW 6337', 94.88311740739495],
 ['ed3153', 'COMSW 7169', 91.42167172485917],
 ['lt2185', 'COMSW 6337', 92.16289443930121],
 ['mh1578', 'COMSW 7732', 97.95065195044893],
 ['hg5241', 'COMSW 7169', 79.33837380282124],
 ['lr1595', 'COMSW 6337', 73.10740269167448],
 ['de9360', 'COMSW 7169', 73.02913190449867],
 ['km7947', 'COMSW 6337', 79.6651921490849],
 ['tn1488', 'COMSW 7169', 75.63652701754765],
 ['vs9040', 'COMSW 9466', 75.06144018741489]]

In [14]:
# executemany inserts multiple rows at once 

cur.executemany('insert into grade values(?, ?, ?)', grades)

In [15]:
# join the two tables on the uni field

list(cur.execute('select first,last,student.uni, \
                 grade from student,grade \
                 where student.uni = grade.uni'))

[('Etty', 'Toddy', 'et4107', 94.88311740739495),
 ('Emmy', 'Daryl', 'ed3153', 91.42167172485917),
 ('Lina', 'Tarra', 'lt2185', 92.16289443930121),
 ('Merv', 'Hagen', 'mh1578', 97.95065195044893),
 ('Harv', 'Gregg', 'hg5241', 79.33837380282124),
 ('Luke', 'Randi', 'lr1595', 73.10740269167448),
 ('Dana', 'Eadie', 'de9360', 73.02913190449867),
 ('Katy', 'Marge', 'km7947', 79.6651921490849),
 ('Tull', 'Nanny', 'tn1488', 75.63652701754765),
 ('Vale', 'Sybil', 'vs9040', 75.06144018741489)]

In [16]:
# add a filter term

q = 'select last,first,grade from student,grade \
 where grade>80 and student.uni = grade.uni \
 order by last'
list(cur.execute(q))

[('Daryl', 'Emmy', 91.42167172485917),
 ('Hagen', 'Merv', 97.95065195044893),
 ('Tarra', 'Lina', 92.16289443930121),
 ('Toddy', 'Etty', 94.88311740739495)]

In [17]:
# always commit and close the connection

con.commit()
con.close()

In [18]:
# data is persisted on disk, can read again

res=None

with sqlite3.connect(dbf) as con:
    cur = con.cursor()
    res = list(cur.execute(q))
    res

res

[('Daryl', 'Emmy', 91.42167172485917),
 ('Hagen', 'Merv', 97.95065195044893),
 ('Tarra', 'Lina', 92.16289443930121),
 ('Toddy', 'Etty', 94.88311740739495)]

# Object Relational Mappers
- maps objects into a relational database
- somewhat complex but very useful
- best known one is [SQLAlchemy](http://www.sqlalchemy.org)
- [peewee](http://docs.peewee-orm.com/en/latest/) is a simple one
- [hibernate](http://hibernate.org) was a pioneering and hugely successful ORM for Java

# NoSQL databases
- provide less functionality than SQL, but are more efficient and scale better
- [mongodb](https://www.mongodb.org) is a popular one
- [PyMongo](https://docs.mongodb.org/getting-started/python/client/) is the python driver for mongodb